@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
    .mainbody{
        width: 770px;
        margin-right: 30px;
    }
    .sidebar{
        width: 370px;
    }
}
@media (max-width: 767px) {
    #mainbody,#sidebar{
        float: none;
        width: 100%;
    }
}